:root {
    --fundo: rgb(1,150,58);
    --letra: #FFFFFF;
    --fundo-2: #12da6c;
    --corlegal: #dbf4a7;
    --verdeescu: rgb(17, 75, 39);
}

*{
    margin: 0;
    padding: 0%;
}

.legal {
    background: var(--fundo-2) ;
    width: 100%;
    height: 775px;
}

.painel {
    background: linear-gradient(to bottom, var(--fundo), var(--fundo-2));

    color: var(--letra);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeca {
    width: 25%;
    height: 25%;
}

.cabeca-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.cabeca-lista-item1 {
    color: var(--corlegal);
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.maconha-titulo {
    text-align: center;
    font-size: 60px;
}

.texto1 {
    text-align: center;
    font-size: 24px;
}

.texto2 {
    text-align: center;
    font-size: 24px;
}

.letrinha-kk {
    font-size: 24px;
    display:flex;
    justify-content: center;
}

